.title{
    font-size: 42px;
    font-weight: 800;
    line-height: 51px;
    padding-top: 65px;
    margin-bottom: 20px;
}

.sectionContainer{
    width: 390px;
    background-color: var(--color-black);
    /* padding-left: 25px; */
    box-sizing: border-box;
}

.paragraph{
    line-height: 32px;
}

@media (min-width: 767px) {
    .sectionContainer{
        width: 750px;
        margin-bottom: 40px;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
  }

@media (min-width: 1023px) {
    .sectionContainer{
        width: 896px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: center;
        padding: 0;
        gap: 80px;
        margin-top: 60px;
    }

    .paragraph{
        width: 560px;
    }
} 