.imageContainer{
    width: 309.69px;
    height: 187.92px;
    
}

.sectionContainer{
    width: 390px;
    display: flex;
    background-color: var(--color-black);
    align-items: center;
    padding-top: 40px;
    justify-content: center;
}

@media (min-width: 767px) {
    .sectionContainer{
        width: 760px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  @media (min-width: 1023px) {
    .sectionContainer{
        width: 410px;
        align-items: flex-end;
    }
  }

  @media (min-width: 1439px) {
    .sectionContainer{
        width: 410px;
    }
  }