.sectionContainer{
    width: 330px;
    background-color: var(--color-black);
    padding-left: 25px;
    box-sizing: border-box;
    padding-bottom: 30px;
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    padding-top: 20px;
    margin-bottom: 16px;
    margin-left: 65px;
}

.network{
    width: 160px;
    height: 22px;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 20px;
}

@media (min-width: 767px) {
    .sectionContainer{
        width: 560px;
        margin-left: 10px;
        margin-bottom: 40px;
        box-sizing: border-box;
        padding-right: 30px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  .title{
    margin-left: 0;
  }

  .network{
    margin-left: 0;
  }
  }

  @media (min-width: 1023px) {
    .sectionContainer{
        width: 896px;
        align-self: center;
        align-items: flex-start;
        margin-top: 40px;
        padding: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .pararapgh{
        align-self: flex-end;
        justify-self: center;
        position: absolute;
    }

  }