.title{
    font-size: 36px;
    font-weight: 800;
    line-height: 51px;
    padding-top: 65px;
    margin-bottom: 20px;
}

.sectionContainer{
    width: 390px;
    background-color: var(--color-black);
    padding-left: 25px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.projectCard{
    border: 1px solid var(--color-grey-1);
    border-radius: 25px;
    width: 315px;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 16px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
}

.projectName{
    font-size: 22px;
    font-weight: 800;
}

.projectLink{
    color: var(--color-brand-1);
    font-weight: 700;
}

.projectLink:hover{
    cursor: pointer;
    color: var(--color-brand-2);
    border-bottom: 1px solid var(--color-brand-2);
    width: 85px;
}

.projectList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 767px) {
    .sectionContainer{
        width: 760px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title{
        margin-bottom: 60px;
    }
  }

  @media (min-width: 1023px) {
    .sectionContainer{
        width: 896px;
        align-self: center;
        align-items: flex-start;
        margin-top: 40px;
        padding: 0px;
        margin-bottom: 50px;
    }

    .projectList{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 47px;
    }

    .projectCard{
        width: 400px;
    }
  }